<%= form_for(@line_bid) do |f| %>
  <% if @line_bid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@line_bid.errors.count, "error") %> prohibited this line_bid from being saved:</h2>

      <ul>
      <% @line_bid.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bidding_id %><br />
    <%= f.number_field :bidding_id %>
  </div>
  <div class="field">
    <%= f.label :bidcart_id %><br />
    <%= f.number_field :bidcart_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
