<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />




    </head>

    <body>


     <body id="item" >

  <div id="columns" >

<div id="side" >
<div id="cart" >
<%= render @cart %>
</div>

</div>
    </div>
  </body>



    <% @biddings.each do |bidding| %>


    	<div class="section" id="page"> <!-- Defining the #page section with the section tag -->



            <div class="section" id="articles"> <!-- A new section with the articles -->


                <div class="line"></div>  <!-- Dividing line -->

                <div class="article" id="article1"> <!-- The new article tag. The id is supplied so it can be scrolled into view. -->
                    <h2><%= bidding.item_name %></h2>
                 <div class ="price">
                  <h2><%= number_to_currency(bidding.bid_price) %></h2>

                   <div class="price">



                    <div class="line"></div>



                      <div class="my-custom-class">

                      <p><%= bidding.item_desc %></p>

                        <%= link_to "Show Status", bidding %>

                        </div>

                     </div>
                </div>




            </div>

            </div>



        </div>



<% end %>


    </body>
</html>
